html,
body{
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

.paragraf{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.paragraf1{
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.podgraf{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

.paragraf2{
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

a{
    color: aquamarine;
    font-size: 16px;
}

.footer{
    font-size: 16px;
    text-align: right;
    color: gray;
}

.slike, 
.link{
    margin-bottom: 20px;
}
