html,
body{
    background-color: black;
    text-align: center;
}

.paragraf{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.paragraf1{
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.podgraf{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

a{
    color: aquamarine;
    font-size: 16px;
}

